// angular-ui-bootstrap fix
body {
  background: rgb(232, 232, 232);
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.unit-button-row {
  margin: 10px 0;
}

.no-padding-right {
  padding-right: 0 !important;
}

.wrapper {
  margin-top: 15px;
  text-align: center;

  .temperature-panel {
    display: inline-block;
    margin: 0 5px;
  }
}
