// angular-ui-bootstrap fix
body {
  background: rgb(232, 232, 232);
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.wrapper {
  margin-top: 15px;
  text-align: center;

  .temperature-panel {
    display: inline-block;
    margin: 0 5px;
  }
}
